<div class="grey darken-2">
<nav class="navbackground">
  <div class="nav-wrapper">
    <ul id="nav-mobile" class="hide-on-med-and-down flex-wrapper">
      <li><a ui-sref="home">Home</a></li>
      <li><a ui-sref="about">About</a></li>
      <li><a ui-sref="photos">Photos<a/></li>
      <li ng-show="showYourAlbums"><a ui-sref="clientHome({id:userId})">Your Albums</a></li>
      <li><a ui-sref="videos({id:134})">Videos<a/></li>
      <li ng-hide="hideSignin"><a href="/auth">Sign-in</a></li>
      <li ng-show="showLogout"><a ng-click="logout()">Log-out</a></li>
      <li ng-show="showAdmin"><a ui-sref="adminHome">Admin</a></li>
      <li><p>{{user}}</p></li>
    </ul>
  </div>
</nav>



  <div class="container">
    <h1>{{photos[0].name}}</h1>
    <div class="flex-wrapper-wrap">
      <div ng-repeat="photo in photos">
        <div class="photo-box rounded responsive-img z-depth-3">
          <img materialboxed class="materialboxed photo zoom" ng-src="{{photo.url}}">
        </div>
      </div>
    </div>
  </div>
</div>
