<div class="parallax-container4 z-depth-1">
  <div class="navbar-fixed">
    <nav class="z-depth-0 navbackground">
      <div class="nav-wrapper">
        <a href="#" data-activates="mobile-nav4" class="button-collapse" data-activates="nav-mobile" data-sidenav="left" data-menuwidth="200" data-closeonclick="true"><i class="material-icons">menu</i></a>
        <ul id="nav-mobile" class="hide-on-med-and-down flex-wrapper">
          <li><a ui-sref="home">Home</a></li>
          <li><a ui-sref="about">About</a></li>
          <li><a ui-sref="photos">Photos<a/></li>
          <li ng-show="showYourAlbums"><a ui-sref="clientHome({id:userId})">Your Albums</a></li>
          <li><a ui-sref="videos({id:130})">Videos<a/></li>
          <li ng-hide="hideSignin"><a href="/auth">Sign-in</a></li>
          <li ng-show="showLogout"><a ng-click="logout()">Log-out</a></li>
          <li ng-show="showAdmin"><a ui-sref="adminHome">Admin</a></li>
          <li ng-show="username">
            <p>{{user}}</p>
          </li>
        </ul>
        <ul class="side-nav blue lighten-5 white-text" id="mobile-nav4">
          <li><div class="userView">
            <a href="#!user"><img class="sidenav-title" src="./media/title_white.png"></a>
            </div></li>
            <li><div class="divider"></div></li>
          <li><a ui-sref="home">Home</a></li>
          <li><a ui-sref="about">About</a></li>
          <li><a ui-sref="photos">Photos</a></li>
          <li><a ui-sref="videos({id:130})">Videos</a></li>
          <li ng-show="showYourAlbums"><a ui-sref="clientHome({id:userId})">Your Albums</a></li>
          <li ng-hide="hideSignin"><a href="/auth">Sign-in</a></li>
          <li ng-show="showLogout"><a ng-click="logout()">Log-out</a></li>
          <li ng-show="showAdmin"><a ui-sref="adminHome">Admin</a></li>
          <li><p class="white-text">{{user}}</p></li>
        </ul>
      </div>
    </nav>
  </div>
  <div parallax><img class="parallax-newborns" src="https://s3-us-west-2.amazonaws.com/tyler-little-photography/DSC_8127.jpg"></div>
  <!-- <div class="flex-wrapper">
    <h1 class="white-text margin-top">{{photos[0].name}}</h1>
  </div> -->
</div>
