<div class="grey darken-2">
<wedding ng-show='wedding'></wedding>
<couples ng-show="couples"></couples>
<families ng-show='families'></families>
<newborns ng-show='newborns'></newborns>
<highschool ng-show='highschool'></highschool>


  <div class="photos-container relative2">
    <div class="flex-wrapper-wrap">
      <div ng-repeat="photo in photos">
        <div class="photo-box rounded responsive-img z-depth-3">
          <img materialboxed class="materialboxed photo" ng-src="{{photo.url}}">
        </div>
      </div>
    </div>
  </div>
</div>
