<nav>
  <ul>
    <a ui-sref="home">Home</a>
    <a ui-sref="about">about</a>
    <a ui-sref="contact">contact</a>
    <a ui-sref="photos">photos</a>
    <a ui-sref="videos">videos</a>
    <a href="/auth">signin</a>
    <p>Hello {{user}}</p>
  </ul>
</nav>


<h1>{{test}}</h1>
<br>
<br>
<section class="album-covers">

<div class="album-cover-box" ng-repeat="album in albums">
  <img class="album-cover" ng-src="{{album.cover}}" alt="" ui-sref="photoAlbum({id: {{album.id}}})">
  <br>
  <h2>{{album.name}}</h2>

</div>

</section>
