<div class="grey darken-2">
  <nav class="navbackground">
    <div class="nav-wrapper">
      <a href="#" data-activates="mobile-nav" class="button-collapse" data-activates="nav-mobile" data-sidenav="left" data-menuwidth="200" data-closeonclick="true"><i class="material-icons">menu</i></a>
      <ul id="nav-mobile" class="hide-on-med-and-down flex-wrapper">
        <li><a ui-sref="home">Home</a></li>
        <li><a ui-sref="about">About</a></li>
        <li><a ui-sref="photos">Photos<a/></li>
      <li ng-show="showYourAlbums"><a ui-sref="clientHome({id:userId})">Your Albums</a></li>
        <li><a ui-sref="videos({id:130})">Videos<a/></li>
      <li ng-hide="hideSignin"><a href="/auth">Sign-in</a></li>
        <li ng-show="showLogout"><a ng-click="logout()">Log-out</a></li>
        <li ng-show="showAdmin"><a ui-sref="adminHome">Admin</a></li>
        <li>
          <p>{{user}}</p>
        </li>
      </ul>
      <ul class="side-nav blue lighten-5 white-text" id="mobile-nav">
        <li><a ui-sref="home">Home</a></li>
        <li><a ui-sref="about">About</a></li>
        <li><a ui-sref="photos">Photos</a></li>
        <li><a ui-sref="videos({id:130})">Videos</a></li>
        <li ng-show="showYourAlbums"><a ui-sref="clientHome({id:userId})">Your Albums</a></li>
        <li ng-hide="hideSignin"><a href="/auth">Sign-in</a></li>
        <li ng-show="showLogout"><a ng-click="logout()">Log-out</a></li>
        <li ng-show="showAdmin"><a ui-sref="adminHome">Admin</a></li>
        <li>
          <p class="white-text">{{user}}</p>
        </li>
      </ul>
    </div>
  </nav>
</div>
<div class="grey darken-2">


  <div class="container photos-padding">
    <br>
    <div class="flex-wrapper-wrap">
      <div class="album-cover-box rounded" ng-repeat="album in albums">
        <div class="row rounded">
          <div class="col s10 m7 rounded">
            <div id="photo-card" class="card large rounded">
              <div class="card-image rounded">
                <img class="rounded responsive-img" src="{{album.cover}}" ui-sref="photoAlbum({id: {{album.id}}})">
                <span class="card-title card-background">{{album.name}}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
