<div class="grey darken-2">

<nav class="navbackground">
  <div class="nav-wrapper">
    <ul id="nav-mobile" class="hide-on-med-and-down flex-wrapper">
      <li><a ui-sref="home">Home</a></li>
      <li><a ui-sref="about">About</a></li>
      <li><a ui-sref="photos">Photos<a/></li>
      <li ng-show="showYourAlbums"><a ui-sref="clientHome({id:userId})">Your Albums</a></li>
      <li><a ui-sref="videos">Videos<a/></li>
      <li ng-hide="hideSignin"><a href="/auth">Sign-in</a></li>
      <li ng-show="showLogout"><a ng-click="logout()">Log-out</a></li>
      <li ng-show="showAdmin"><a ui-sref="adminHome">Admin</a></li>
      <li><p>{{user}}</p></li>
    </ul>
  </div>
</nav>


<h1>Videos</h1>

<br>
<br>
<div class="video-container" ng-show="vimeo">
  <iframe src="{{mainVideo[0].url}}" width="1280" height="720" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
</div>
<div class="video-container" ng-show="youtube">
  <iframe width="1280" height="720" src="{{mainVideo[0].url}}" frameborder="0" allowfullscreen></iframe>
</div>

<div carousel indicators=true class="carousel">
    <a class="carousel-item" href="javascript:void(0);"><img ng-src="{{videos[0].video_img}}" ui-sref="videos({id:videos[0].id})"></a>
    <a class="carousel-item" href="javascript:void(0);" ><img ng-src="{{videos[1].video_img}}" ui-sref="videos({id:videos[1].id})"></a>
    <a class="carousel-item" href="javascript:void(0);" ><img ng-src="{{videos[2].video_img}}" ui-sref="videos({id:videos[2].id})"></a>
    <a class="carousel-item" href="javascript:void(0);"><img ng-src="{{videos[3].video_img}}" ui-sref="videos({id:videos[3].id})"></a>
    <a class="carousel-item" href="javascript:void(0);" ><img ng-src="{{videos[4].video_img}}" ui-sref="videos({id:videos[4].id})"></a>

  </div>

<div class="" ng-repeat="video in videos">
  <img class="responsive-img thumnail" ng-src="{{video.video_img}}" alt="" ui-sref="videos({id: {{video.id}}})">
</div>



<!-- <div ng-repeat="video in vimvideos">
  <iframe src="{{video.url}}" width="560" height="315" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
</div>

<div ng-repeat="video in ytvideos">
  <iframe width="560" height="315" src="{{video.url}}" frameborder="0" allowfullscreen></iframe>
</div> -->



</div>
