<nav class="navbackground">
  <div class="nav-wrapper">
    <ul id="nav-mobile" class="hide-on-med-and-down flex-wrapper">
      <li><a ui-sref="home">Home</a></li>
      <li><a ui-sref="about">About</a></li>
      <li><a ui-sref="photos">Photos<a/></li>
      <li><a ui-sref="videos">Videos<a/></li>
      <li><a href="/auth">signin</a></li>
      <li><a ui-sref="adminHome">admin</a></li>
      <li><p>{{user}}</p></li>
    </ul>
  </div>
</nav>


<h1>Videos</h1>

<br>
<br>



<div ng-repeat="video in videos">
  <iframe src="{{video.url}}" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>

<br>
<br>
</div>
<iframe width="560" height="315" src="https://www.youtube.com/embed/CGjlPj3R4Rs" frameborder="0" allowfullscreen></iframe>
</section>
